node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
dist

result.json

# Files from packaging for local testing
/*.tgz

docs/.vitepress/dist
docs/.vitepress/cache
